.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.encounter {
  background-color: #eee;
  transition: 0.5s;
}
.encounter:hover {
  background-color: #ddd;
  border: 1px solid cornflowerblue;
}
