#loader{
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 80px;
  width: 200px;
  height: 30px;
}

svg {
    height: 100%;
    width: 100%;
  }
  path{
    stroke: #337ab7;
    stroke-width: 1px;
    fill: none;
    stroke-dasharray: 150, 200;
    stroke-dashoffset: 0;
    animation: pulse 4s infinite linear;

  }

@keyframes pulse {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1050;
  }
}