.timewalker__container {
  z-index: 1;
  position: fixed;
  height: 30px;
  width: 100px;
  background: whitesmoke;
  border-radius: 5px;
  border: 1px solid darkgray;
  top: 40px;
}
.timewalker__control {
  position: relative;
  display: inline-block;
  margin: 5px;
  height: 20px;
  width: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.timewalker__control:hover {
  background-color: #7d96ac;
}
.timewalker__control:active {
  background-color: #20629b;
  color: white;
}